{% extends "layout.html" %}
{% block content %}

<h1>Checkout Details</h1>

<div class="tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div>
<table>
<form action="">
  <tr>
    <td> Full Name: </td>
    <td><div class="tooltip"><input type="text" required name="fullname" maxlength="50" placeholder="For ex. Jane Doe">
          <span class="tooltiptext">e.g Harry Potter</span>
        </div></td>
  </tr>
  <tr>
    <td> Email </td>
    <td><div class="tooltip"><input type="email" required name="email" maxlength="40" placeholder="For ex. janedoe@gmail.com">
          <span class="tooltiptext">e.g mailman@mail.com</span>
        </div></td>
  </tr>
  <tr>
    <td> Address </td>
    <td><div class="tooltip"><input type="text" required name="address" maxlength="50" placeholder="For ex. 13 Cranbook Street">
          <span class="tooltiptext">e.g 12 Crnbrook Str </span>
        </div></td>
  </tr>
  <tr>
    <td> City </td>
    <td><div class="tooltip"><input type="text" required name="city" maxlength="20" placeholder="For ex. Chicago">
          <span class="tooltiptext">e.g Cairo</span> 
        </div></td>
  </tr>
  <tr>
    <td> State </td>
    <td><div class="tooltip"><input type="text" required name="state" maxlength="20" placeholder="For ex. Oregon">
          <span class="tooltiptext">e.g Wyoming</span>
        </div></td>
  </tr>
  <tr>
    <td> Postcode: </td>
    <td><div class="tooltip"><input type="text" required name="postcode" minlength="8" maxlength="8" pattern="[A-Z]{2}[0-9]{2}[ ]{1}[0-9]{1}[A-Z]{2}"  placeholder="For ex. 12567">
      <span class="tooltiptext">e.g CF24 4DS</span> 
        </div></td>
  </tr>
  <tr>
    <td> Name on card </td>
    <td><div class="tooltip"><input type="text" required name="nameoncard" minlength="10" maxlength="50" placeholder="For ex. Jane Doe ">
      <span class="tooltiptext">e.g Jane Doe</span> 
        </div></td>
  </tr>
  <tr>
    <td> Credit/Debit Card No. </td>
    <td><div class="tooltip"><input type="text" required name="creditno" minlength="16" maxlength="16" required pattern="[0-9]*" placeholder="For ex. 1237654845357659">
      <span class="tooltiptext">e.g 1298 8569 6755 5795</span> 
        </div></td>
  </tr>
  <tr>
    <td> Expiry Month </td>
    <td><div class="tooltip"><input type="number" required name="expmonth" minlength="4" maxlength="10" placeholder="For ex. 30/11 ">
    <span class="tooltiptext">e.g 07/4X</span> 
        </div></td>
  </tr> 
  <tr>
    <td> Expiry Year </td>
    <td><div class="tooltip"><input type="number" required name="expyear" minlength="4" maxlength="10" placeholder="For ex. 2023">
     <span class="tooltiptext">e.g 2029</span> 
        </div></td> 
  </tr>
  <tr>
    <td> CVV </td>
    <td><div class="tooltip"><input type="text" required name="cvv" minlength="3" maxlength="3" placeholder="For ex. 459 ">
    <span class="tooltiptext">e.g 000</span> 
        </div></td> 
  </tr>
  <tr>
    <td><div class="tooltip"><input type="submit" value="Submit">
    <span class="tooltiptext">e.g Submit</span> 
        </div></td>
    </td>
  </tr>
  </form>
  </table> 
{% endblock content %}