body {
  font-family:helvetica, sans-serif;
  background-color: #f5f5f5; /* white smoke*/
}

h1 {
  padding-left: 20px;
  font-family:sans-serif;
  color:#000000; /* red*/
}

a {
  text-decoration:none;
  color:#000000; /* white smoke*/
}

a:hover {
  color:#000000; /* red*/
}

#header {
    padding:10px 100px;
    font-size:18px;
    overflow:auto;
    background-color:#cc3300;  /* red*/
}

div.gallery {
  margin: 75px;
  border: 1px solid #ccc;
  float: left;
  height: 400px;
  width: 300px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.Sort {
  padding: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}s